OPENAI_API_KEY=

EMBEDDING_MODEL=all-MiniLM-L6-v2

LLM_MODEL=gpt-4o-MINI

CHROMA_PERSIST_DIRECTORY=./data/vectorstore
CHROMA_COLLECTION_NAME=RAG_DOCUMENT

CHUNK_SIZE=500

TOP_K=4


## ADD YOUR KEYS HERE
