venv/
.venv/
__pycache__/
*.pyc
.pytest_cache/
.env

data/raw/*
data/processed/*
data/vectorstore/*
!data/raw/.gitkeep
!data/processed/.gitkeep
!data/vectorstore/.gitkeep

/data/raw.dvc
/data/processed.dvc

.vscode/
.idea/
